

<h2> <%= @artist.name %> </h2>

<%= link_to "EDIT", edit_artist_path(@artist) %>
|
<%= link_to "DELETE", artist_path(@artist), method: 'delete' %>

<p>
          <strong>Nationality: </strong>
          <%= @artist.nationality %>
        </p>

        <p>
          <strong>dob: </strong>
          <%= @artist.dob %>
        </p>

        <p>
          <strong>period: </strong>
          <%= @artist.period %>
        </p>
        <p>
          <strong>roundness: </strong>
          <%= @artist.roundness %>
        </p>
    <% if @artist.image.present? %>
        <%= image_tag (@artist.image), class:"artist_image" %>
    <% end %>