

<h3>Manga Name: <%= @mangabook.name %></h3>

<p>
<strong>Author:</strong> 
<% unless @mangabook.author.nil?%>
<a href="/authors/<%= @mangabook.author.id%>">
<%= @mangabook.author.name%>
</a>
<%end%>
</p>

<p>
  <strong>Volumes:</strong> <%= @mangabook.volumes%>
</p>

<p>
  <strong>End:</strong> <%= @mangabook.end%>
</p>

<img src="<%= @mangabook.image_url %>" alt=" <%= @mangabook.name%>" class="manga_image">
<br>

[<a href="/mangabooks/<%= @mangabook.id %>/edit">Edit</a>]
[<a href="/mangabooks/<%= @mangabook.id %>/delete">Delete</a>]