<h3>EDIT MOVIE SECTION</h3>

<form action="/movies/<%= @movie_info['id'] %>" method="post">

    <label>
        Name:
        <input type="text" name="name" value= "<%= @movie_info['name'] %>" >
    </label>
    <br>

    <label>
        Genre:
        <input type="text" name="genre" value= "<%= @movie_info['genre'] %>">
    </label>
    <br>

    <label>
        Original Language:
        <input type="text" name="original_language" value= "<%= @movie_info['original_language'] %>">
    </label>
    <br>

    <label>
        Status(watched/to watch):
        <select name="status" >
        <option value="<%= @movie_info['status'] %>">Watched</option>
        <option value="<%= @movie_info['status'] %>">To Watch</option>
        </select>

    </label>
    <br>

    <label>
        Rating(1-10):
        <input type="text" name="rating" value= "<%= @movie_info['rating'] %>">
    </label>
    <br>

    <label>
        Description:
         <br>
        <textarea name="description" cols="50" rows="5" maxlength="250"><%= @movie_info['description'] %>
        </textarea>
    </label>
    <br>

    <label>
        Poster URL:
        <br>
        <textarea name="poster_url" cols="50" rows="5" maxlength="250"><%= @movie_info['poster_url'] %>
        </textarea>
    </label>
    <br>

    <button>Save Changes</button>

</form>