<h3>
Edit pet: <%= @pet["name"] %>
</h3>

<form action="/pets/<%=@pet.id%>" method="post">

<label>
    Name:
    <input type="text" name="name" value="<%=@pet.name%>">
</label>
<br>
<label>
    Species:
    <input type="text" name="species" value="<%=@pet.species%>">
</label>
<br>
<label>
    Description:
    <input type="text" name="description" value="<%=@pet.description%>">
</label>
<br>
<label>
    Roundness:
    <input type="text" name="roundness" value="<%=@pet.roundness%>">
</label>
<br>
<label>
    Alive (1 for yes, 0 for no):
    <input type="text" name="alive" value="<%=@pet.alive%>">
</label>
<br>
<label>
    Age:
    <input type="text" name="age" value="<%=@pet.age%>">
</label>
<br>
<label>
    ImageURL:
    <input type="text" name="image_url" value="<%=@pet.image_url%>">
</label>
<br>


<button>Update Pet Details</button>



</form>