<!DOCTYPE html>
<html>
  <head>
    <title>RailsTodolist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
    <%= link_to "Home", '/snacks' %>
    <%= link_to "Create new review", '/snacks/create' %>
  </header>
    <%= yield %>
  </body>
</html>
