<section class='container'>
    <div class="dashboard-title">
        <h1> Update Language</h1>
    </div>
    <div class="grid-add card">
    <% if params['message'] %>
        <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <%= params['message'] %>
        </div>
    <% end %>
   <form action="/update/<%= params['id']%>" method="post">
      <label for="name" >Language Name</label>
      <input id="name" name="name" type="text" value="<%=@results['name']%>">

      <label for="age">Created By</label>
      <input id="created_by" name="created_by" type="text" value="<%=@results['created_by']%>">

      <label for="description" >Description</label>
      <input id="description" name="description" type="text" value="<%=@results['description']%>">

      <label for="job">Alive </label>
      <input id="alive" name="alive" type="text" value="<%=@results['alive']%>">

      <label for="age">Year Created</label>
      <input id="created" name="created" type="text" value="<%= @results['created'] %>">

      <label for="logo">Logo</label>
      <input id="logo" name="logo" type="text" value="<%= @results['logo']%>">

      <button>Submit</button>
    </form>
    </div>
</section>