<%# need to have my links to editing etc in this page.  %>
<%# TODO: get the data below into a table. %>
<h3><%= @rental.street_address + ', ' + @rental.suburb %></h3>
<p>Cost: <%= @rental.cost %></p>
<p>Total Travel Time: <%= @rental.total_travel_time %></p>

<a href="/rental/<%= @rental.id %>/update">Edit</a>
<a href="/rental/<%= @rental.id %>/delete">Delete</a>