<h3>Add New Shark</h3>


<%= form_with model: @shark, local: true do |f| %>
  <p>
  <%= f.label :name %>:
  <%= f.text_field :name, :class => "namebox"%>
  <br>
  </p>
  <p>
  <%= f.label :size %>:
  <%= f.text_field :size%>
  <br>
  </p>
  <p>
  <%=f.label :color %>:
  <%= f.text_field :color%>
  <br>
  </p>
  <p>
  <%=f.label :habitat %>:
  <%= f.text_field :habitat %>
  <br>
  </p>
  <p>
  <%=f.label :image_url, 'Image URL'%>:
  <%= f.text_field :image_url%>
  <br>
</p>
  <%= f.submit 'Add Shark' %>

<% end %>