<!DOCTYPE html>
<html>
  <head>
    <title>BookLib</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Books</h1>
    
    <%= yield %>
  </body>
</html>
