<h2> <%= @owner.name %> </h2>

<%= link_to 'Edit', edit_owner_path(@owner) %>
<%= link_to 'Delete', owner_path(@owner), method: 'delete' %>

<% if @owner.image.present? %>
    <%= image_tag @owner.image, alt: @owner.name, class: 'owner_image' %>
<% end %>

<p>
    <strong>Age: </strong> <%= @owner.age %>
</p>

<p>
    <strong>Hometown: </strong> <%= @owner.hometown %>
</p>

<p>
    <strong>Number of Pokemon Owned: </strong> <%= @owner.pokemon_owned %>
</p>

<p>
    <strong>Are they champion: </strong> <%= @owner.champion %>
</p>