<h3>Rich Person: <%= @owner.name %></h3>
[<a href="/owners/owner_show/<%= @owner.id %>">Edit</a>]
<p>
    <strong>Age: </strong><%= @owner.age %><br>
    <strong>Wealth ($m): </strong><%= @owner.wealth_m %>
</p>

<p><strong>
    Teams:
</strong></p>
<ul>
    <% @owner.teams.each do |team| %>
        <li>
            <a href="/teams/team_show/<%= team.id %>"><%= team.franchise %></a>
        </li>
        <% end %>
</ul>
</p>
