<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
      <nav>
        <h1>Library</h1> 
        <%= link_to 'Authors Index', authors_path %>
        |
        <%= link_to 'Add author', new_author_path %>
        |
        <%= link_to 'Books Index', books_path %>
        |
        <%= link_to 'Add books', new_book_path %>
      </nav>
    </header>
  <hr>


    <%= yield %>


    <footer>
      <hr>
      &copy; Art School Dropout Productions 2022
    </footer>
  </body>
</html>
