<h2><%= @car.make %> <%= @car.model %></h2>

<%= link_to 'Edit', edit_car_path %>
<%= link_to 'Delete', car_path, method: 'delete' %>

<% Car.attribute_names.each do |attr| %>
  <p>
    <% if attr == 'image' %>
      <%= image_tag @car[attr] %>
    <% else%>
      <strong><%= attr.capitalize %></strong>
      <br>
      <%= @car[attr] %>
    <% end%>
  </p>

<% end %>

<%=image_tag @car.driver.image%>


